*{
line-height: 1.5;
text-align: center;
background-color: rgb(228, 214, 210);
margin: 0;
padding: 0;
box-sizing: border-box;


}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: brown;
}
ul{
    list-style: none;
}
h1{
    color: hotpink;
    text-align: center;
    font-size: 3cm;
}
.instagram{
    display: inline;
    width: 10px;
    text-align: left;
    vertical-align: bottom;
    font-size: larger;
    color: mediumblue;
}
a{
   display: inline;
    font-family: 'Times New Roman', Times, serif;
   font-size: 1.1cm;
   background-color: chocolate;
color: rgb(255, 255, 255);
text-decoration: none;
margin: 50px, auto;
padding: 6px 10px 6px 10px;
  
}
#sve{
    border: 5px solid red;
}
p{
    text-align: center;
}
